{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <a href="">
                <h2>{{ book.name }}</h2>
                </a>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
            {% endfor %}
        </div>
        {% if page.has_previous %}
            <a class="button disabled" href=""><</a>
            <a class="button button-primary" href={% url 'bookspage' page_prev %}>{{ page_prev }}</a>
        {% endif %}
        {% if page.has_next %}
            <a class="button button-primary" href={% url 'bookspage' page_next %}>{{ page_next }}</a>
            <a class="button disabled" href="">></a>
        {% endif %}

    </div>
{% endblock %}